html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
body {
  font-size: 16px;
  font-family: "DM Sans", serif;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  padding: 0;
  margin: 0;
  background-color: #484545;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 10px 0px 10px;
}

.header {
  height: 100px;
}
.logo {
  padding-left: 10px;
}
.logo-img {
  width: 160px;
  height: 55px;
  padding-top: 25px;
}
.header-menu {
  display: flex;
  padding-top: 10px;
  padding-right: 10px;
}

.header-menu__tik--active {
  color: #118da8;
}
.nav {
  display: flex;
  justify-content: space-between;
  z-index: 100;
  width: 100%;
  left: 3px;
}
.header-menu__item {
  padding-left: 23px;
}
.header-menu__item:hover {
  color: #118da8;
}

.top {
  display: flex;
  flex-direction: column;
  position: relative;
}
.top-photo {
  width: 550px;
  height: 750px;
  margin-bottom: 15px;
}
.top__subtitle {
  font-size: 70px;
  letter-spacing: 3.2px;
  padding-left: 20px;
  line-height: 88px;
  padding-top: 160px;
}
.top__subtitle span {
  border-bottom: 2px solid #118da8;
}

.top__text {
  font-size: 15px;
  line-height: 24px;
  padding-left: 20px;
}
.top__link-item {
  display: flex;
  padding-top: 17px;
}
.top__link {
  padding-left: 20px;
  transition: all 0.5s ease;
}
.top__subtitle {
  font-size: 70px;
  letter-spacing: 3.2px;
  padding-left: 20px;
  line-height: 88px;
  padding-top: 160px;
}

.top__right {
  position: absolute;
  left: 557px;
}
